.list-anchor {
    color: black;
    background-color: var(--peach-bg);
    border: 1px solid lightgray;
    border-radius: 1rem;
    
    width: 80%;
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    transition: .2s ease-in-out;

    display: grid;
    grid-template-columns: 1fr auto 1fr 24px;
    justify-content: center;
    gap: 1rem;
}

.list-anchor:hover {
    cursor: pointer;
    box-shadow: 0px 0px 3px var(--dark-gray);
    transform: scale(1.01);
}

.list-anchor div:first-child,
.list-anchor div:last-child {
    flex-grow: 1;
    flex-basis: 0;
}

.list-anchor div:nth-last-child(2) {
    white-space: nowrap;
    text-align: right;
}

.name-tag {
    color: var(--dark-gray);
    font-size: 0.7rem;
    margin-right: .3rem;
}

.recipe-name {
    gap: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.time {
    align-items: center;
}

.lang-icon {
    max-width: 1.5rem;
    display: inline-block;
    align-self: center;
}

@media screen and (max-width: 576px) {
    .list-anchor {
        display: flex;
        flex-direction: column;
    }

    .recipe-name {
        white-space: wrap;
    }

    .list-anchor div:nth-last-child(2) {
        white-space: nowrap;
        text-align: left;
    }
}