.quick-info {
    border: 1px solid darkgray;
    border-top: 6px solid coral;
    border-radius: 5px;
    padding: 1rem;
    margin: 1.5rem;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
}


.top-img {
    width: 100%;
    max-width: 18rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 2rem;
}

.top-img-container {
    max-width: 20rem;
    max-height: 20rem;
    border: 1px solid #333;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.top-img-container::before, .top-img-container::after {
    position: absolute;
    background: var(--light-bg);
    z-index: -1;
    transition: 1s;
    content: '';
}

.top-img-container::before {
    height: 20rem;
    width: 18rem;
}

.top-img-container::after {
    width: 20rem;
    height: 18rem;
}    

.top-img-container:hover::before {
    width: 0px;
    background: var(--light-bg);
}

.top-img-container:hover::after {
    height: 0px;
    background: var(--light-bg);
}

.top-img-container:hover {
    background: var(--light-bg);
}

#sun-dried-pasta {
    aspect-ratio: 1/1;
    object-fit: cover;
}

.ingredients {
    margin-bottom: 2rem;
}

.ingredients,
.steps {
    width: 90%;
}

.ingredients-hl,
.steps-hl {
    align-self: flex-start;
}

.ingredients-subhl {
    font-weight: 500;
    margin-top: 1rem;
}

.ingredients-list {
    list-style: none;
}

.ingredients-list li::before {
    content: "\2022";
    color: coral;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
}

.recipe-link {
    text-decoration: none;
    font-weight: 700;
    color: coral;
    transition: .3s ease-out;
}

.recipe-link:hover {
    filter: brightness(80%);
}

.steps-list {
    margin-left: 10%;
    margin-right: 10%;
}

.steps-list li {
    list-style: none;
    counter-increment: item;
    margin-bottom: 1rem;
    transition: .3s;
    color: black;
    text-decoration: none;
}

.steps-list .checked {
    color: #C3C8DE;
    text-decoration: line-through;
}

.steps-list li:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.steps-list li::before {
    content: counter(item);
    margin-right: 5px;
    margin-left: -2rem;
    font-size: 80%;
    background-color: coral;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.bot-img-container {
    margin: 1rem;
}

.bot-img {
    width: 100%;
    max-width: 16rem;
    height: auto;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.nutrition-col-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nutrition-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
}

.source-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-source {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 4px;
    font-weight: 600;
    margin: .25em .1em;

    color: #fff;
    background-image: linear-gradient(90deg,#ff8901,#db1d5f);
    font-weight: 700;

    transition: .25s ease-out;
}

.recipe-source:hover {
    box-shadow: 0 0 3px #ff8901,
                0 0 6px #db1d5f,
                0 0 9px #ff8901,
                0 0 12px #db1d5f;
    transform: scale(1.05);
}

@media (max-width: 500px) {
    .top-img-container {
        border: none;
    }
    
    .top-img-container::after,
    .top-img-container::before {
        display: none;
    }
}